li {
  color: red;
}

li span {
  color: #000;
}

.di-input__heart {
  position: relative;
}

.di-input__heart input {
  display: none;
}

.di-input__heart > a {
  display: inline-block;
  margin: 0 4px;
  width: 20px;
  height: 20px;
  text-shadow: 0px 1px 0 #fff, 0px -1px 0 #fff, 1px 0px 0 #fff, -1px 0px 0 #FFF;
  text-decoration: none;
}

.di-input__heart > a:before {
  content: "\e005";
  font-family: 'Glyphicons Halflings';
  font-size: 20px;
  color: #FC77B4;
}

.di-input__heart > a.on:before {
  content: "\e005";
  color: #fff;
}
