.di-body {
  margin: 0 -12px;
  border-top: 2px solid #ee98bc;
  padding-top: 12px;
}

.di-body a {
  text-decoration: none;
}

.di-body a:hover, .di-body a:focus {
  color: #fff;
}

.di-list__main a {
  text-decoration: none;
}

.di-list__main a:hover, .di-list__main a:focus {
  color: #fff;
}

.m-diary main {
  background: #fff;
}

.di-list__title {
  display: flex;
  height: 36px;
  justify-content: center;
  align-items: center;
  background-color: #ea6eac;
  color: #fff;
}

.di-list__back {
  display: flex;
  height: 28px;
  justify-content: center;
  align-items: center;
  background-color: #999999;
  color: #fff;
  margin: 10px 60px;
}

ul.di-list__category {
  display: flex;
  justify-content: center;
}

ul.di-list__category li.di-list__sharp a {
  padding: 4px 13px;
  margin: 0px 2px;
  background-color: #ea6eac;
  color: #fff;
  font-size: 13px;
}

hr.diarylist {
  border-top: 3px solid #ff5e9f;
  margin: 12px 0;
}

ul.di-list__ListMain {
  margin-left: 4px;
  margin-right: 4px;
}

.di-list__LiBox {
  position: relative;
}

li.di-list__date {
  margin-bottom: 4px;
}

a.di-list__link {
  display: flex;
  position: relative;
  padding: 0 4px;
}

a.di-list__link::after {
  content: "";
  position: absolute;
  right: 4px;
  top: 50%;
  display: block;
  width: 12px;
  height: 12px;
  margin-top: -4px;
  border-top: solid 2px #555;
  border-right: solid 2px #555;
  -webkit-transform: rotate(45deg);
}

.di-list__LiText {
  flex: 1;
  padding-right: 8px;
  max-width: 480px;
}

.di-list__days {
  background-color: #ea6eac;
  color: #fff;
  padding: 4px 6px;
  border-radius: 3px;
  display: inline-block;
}

.di-list__DiTitle {
  color: #ea6eac;
  display: inline-block;
  padding: 0 8px;
}

.di-list__caption {
  color: #ada19d;
  font-size: 12px;
  padding: 4px 0;
  display: inline-block;
}

.di-list__LiPhoto {
  width: 80px;
  height: 80px;
  margin-right: 12px;
}

img.di-list__photo {
  width: 100%;
}

.di-list__btn {
  display: flex;
  justify-content: center;
}

.di-list__btn .di-btn {
  margin: 0 2px;
}

.di-btn__edit {
  width: 16%;
}

a.di-list__edit {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  background-color: #6ecddd;
  color: #fff;
}

.di-btn__del {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16%;
  height: 36px;
  background-color: #ada19d;
  color: #fff;
}

ul.di-list__month {
  padding: 12px;
}

.di-list__title {
  /* display: flex; */
  font-size: 18px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  text-align: center;
  height: 36px;
  /* justify-content: center; */
  /* align-items: center; */
  line-height: 36px;
  background-color: #ea6eac;
  color: #fff;
}

.di-list__back {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  /* background-color: #999999; */
  color: #fff;
  margin: 14px 60px 20px;
}

.di-list__back .di-btn.di-btn__del {
  font-size: 14px;
  background-color: #999;
}

ul.di-list__category {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
}

ul.di-list__category li.di-list__sharp a {
  display: block;
  padding: 4px 10px;
  margin: 0px 2px;
  background-color: #ea6eac;
  color: #fff;
  font-size: 13px;
  border-radius: 3px;
}

ul.di-list__category li.di-list__sharp a.active {
  background-color: #FD2C78;
}

hr.diarylist {
  border-top: 3px solid #ff5e9f;
  margin: 12px 0;
}

ul.di-list__ListMain {
  margin-left: 4px;
  margin-right: 4px;
}

.di-list__LiBox {
  position: relative;
}

li.di-list__date {
  margin-bottom: 4px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 4px;
}

a.di-list__link {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: relative;
  padding: 4px;
}

a.di-list__link::after {
  content: "";
  position: absolute;
  right: 4px;
  top: 50%;
  display: block;
  width: 12px;
  height: 12px;
  margin-top: -4px;
  border-top: solid 2px #555;
  border-right: solid 2px #555;
  -webkit-transform: rotate(45deg);
}

.di-list__LiText {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  padding-right: 8px;
}

@media screen and (min-width: 480px) {
  .di-list__LiText {
    max-width: 480px;
  }
}

.di-list__days {
  background-color: #ea6eac;
  color: #fff;
  padding: 4px 6px;
  border-radius: 3px;
  display: inline-block;
}

.di-list__DiTitle {
  color: #ea6eac;
  display: inline-block;
  padding: 0 8px;
}

.di-list__caption {
  color: #ada19d;
  font-size: 12px;
  padding: 4px 0;
  display: block;
}

.di-list__LiPhoto {
  width: 64px;
  height: 64px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 12px;
}

img.di-list__photo {
  width: 100%;
}

.di-list__btn {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
}

.di-list__btn .di-btn {
  margin: 0 2px;
}

.di-btn__edit {
  width: 16%;
}

a.di-list__edit {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  background-color: #6ecddd;
  color: #fff;
}

.di-btn__del {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16%;
  height: 36px;
  background-color: #ada19d;
  color: #fff;
}

ul {
  overflow: hidden;
  position: relative;
}

ul li.di-list__date {
  width: 100%;
  background: #fff;
  overflow: hidden;
  z-index: 2;
  position: relative;
}

.di-list__btn {
  position: absolute;
  top: 25%;
  right: 0;
  z-index: 1;
  width: 45%;
}

.edit, .edit2 {
  position: absolute;
  top: 20%;
  right: 12px;
  width: 40px;
  font-size: 30px;
  cursor: pointer;
}

.di-list__btn.di-btn__side a,
.di-btn__side .js-dialog__open {
  width: 48%;
  margin-right: 1%;
  margin-left: 1%;
  float: left;
}

.di-list__title a.di-top__link {
  position: relative;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  top: 1px;
}

.di-list__title a.di-top__link::after {
  content: "\2b";
  color: #fff;
  width: 36px;
  height: 36px;
  display: block;
  line-height: 36px;
  position: relative;
  text-align: center;
}

.di-list__ListBody {
  margin-top: 12px;
}

.di-list__DiTitle {
  padding: 8px;
}

.di-list__month a {
  color: #aca09d;
  font-size: 16px;
  display: block;
  padding: 8px 8px 8px 0;
}

.di-list__month a:hover {
  color: #aca09d;
}

.di-list__month li {
  width: 50%;
}

section.di-list__main {
  background-color: #fff;
  margin: 0 -12px;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

ul.di-input__side li {
  float: left;
  display: block;
  width: 28%;
  margin: 0px 2%;
  text-align: center;
}

ul.di-input__side li:first-child {
  margin-left: 4%;
}

ul.di-input__side li:first-child legend {
  font-weight: bold;
  line-height: 33px;
}

ul.di-input__side .di-input__label {
  font-size: 18px;
  color: #eb74b2;
}

ul.di-input__side legend {
  margin-bottom: 0;
}

.di-input__select {
  text-align: center;
  background: #F298BB;
  color: #fff;
  border: 0;
  border-radius: 5px;
  padding: 6px 4px;
  width: 100%;
  height: 40px;
  font-size: 16px;
  cursor: pointer;
}

#moonphase span {
  display: block;
  width: 30px;
  margin: auto;
  position: relative;
  top: -1px;
}

#moonphase span img {
  height: 30px;
  top: 5px;
}

ul.di-input__side li:not(:first-child) select {
  padding-left: 15%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

ul.di-input__side li:nth-child(2) label::after,
ul.di-input__side li:last-child label::after {
  content: "\e072";
  display: block;
  color: #fff;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  position: absolute;
  bottom: 12px;
  right: 6%;
  font-size: 12px;
}

ul.di-input__side li:nth-child(2) label::after {
  right: 38.5%;
}

ul.di-input__side li:not(:first-child) label {
  font-family: 'Glyphicons Halflings';
  margin-bottom: 7px;
}

.di-input__heart {
  position: relative;
  background-color: #FC77B4;
  border-radius: 5px 5px 0 0;
  padding: 6px;
  padding-bottom: 1px;
  text-align: center;
  width: 75%;
  float: left;
  cursor: pointer;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.di-input__heart input {
  display: none;
}

.di-input__heart label {
  margin: 0 4px;
  cursor: pointer;
}

.di-input__heart label::after {
  content: "\e005";
  font-family: 'Glyphicons Halflings';
  font-size: 24px;
  color: #eb74b2;
  transition: 250ms;
  display: inline-block;
  margin: 0 2px;
  width: 30px;
  height: auto;
  text-shadow: 0px 1px 0 #fff, 0px -1px 0 #fff, 1px 0px 0 #fff, -1px 0px 0 #FFF;
  text-decoration: none;
  text-align: center;
  transition: 250ms;
}

.di-input__heart label:hover::after,
.di-input__heart label:hover ~ label::after,
.di-input__heart input[type='radio']:checked ~ label::after {
  content: "\e005";
  color: #fff;
  transition: 250ms;
}

.di-input__area {
  margin-top: 24px;
}

.di-input__area .di-input__picture {
  width: 20%;
  float: left;
  margin-left: 3%;
  text-align: center;
  position: relative;
}

.di-input__area .di-input__picture img {
  width: 50px;
  margin-bottom: 0;
  position: absolute;
  bottom: -25px;
  left: 12%;
}

.di-input__area .di-input__picture input {
  display: none;
}

.di-input__area .di-input__picture label {
  cursor: pointer;
}

.di-input__area .di-input__title input {
  border: 3px solid #FC77B4;
  height: 42px;
  border-radius: 0 5px 0 0;
  width: 100%;
  padding: 4px 8px;
  font-size: 18px;
  outline: 0;
}

.di-input__area textarea {
  border: 3px solid #FC77B4;
  border-top: 0;
  border-radius: 0 0 5px 5px;
  resize: none;
  width: 100%;
  max-height: 240px;
  padding: 8px;
  line-height: 1.5;
  text-align: justify;
  outline: 0;
}

.di-input__category input[type=radio] {
  display: none;
  width: 100%;
}

.di-input__category input[type=radio]:checked + label {
  background-color: #FF0180;
  border-color: #FF0180;
  opacity: 1;
  -webkit-transition-property: background, color;
  -webkit-transition-duration: 250ms;
  -webkit-transition-timing-function: linear;
  transition: 250ms;
}

.di-input__category label {
  float: left;
  display: block;
  cursor: pointer;
  width: 19%;
  padding: 4px;
  margin-left: .8%;
  text-align: center;
  font-weight: bold;
  font-size: 11px;
  color: #fff;
  background-color: #FF0180;
  border: 1px solid #FF0180;
  border-radius: 3px;
  opacity: .6;
  transition: 250ms;
}

.di-input__category label:first-child {
  margin-left: .5%;
}

.m-diary .item-dmy,
.m-diary .btn-shift.next,
.m-diary .item-tabs li {
  display: none;
}

.m-diary .day-result-content {
  background-color: #DDFFFD;
  border-radius: 8px;
  box-shadow: 0 1px 5px 0;
  margin: 8px;
}

.m-diary .section-day {
  margin-bottom: 12px;
}

textarea::placeholder, input::placeholder {
  opacity: .7;
}

legend {
  border: 0;
}

.di-input__form {
  max-width: 480px;
  margin: auto;
  padding: 0 12px;
}

.di-input__clear::after {
  content: "";
  clear: both;
  display: block;
}

.di-input__area {
  position: relative;
}

.di-input__area textarea {
  max-height: 270px;
  padding-bottom: 23px;
}

.di-input__area .count {
  position: absolute;
  right: 12px;
  bottom: 30px;
  color: #eb74b2;
}

.js-dialog__content {
  width: 80%;
  margin: 0;
  padding: 10px 20px;
  border: 2px solid #aaa;
  background: #fff;
  position: fixed;
  display: none;
  z-index: 3;
  border: 2px solid #eb74b2;
}

#js-dialog__overlay {
  z-index: 2;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  background-color: rgba(0, 0, 0, 0.75);
}

.js-btn__close {
  color: #00f;
  text-decoration: underline;
}

.js-btn__close:hover {
  cursor: pointer;
}

.js-dialog__open {
  height: 41px;
}

h4.js-dialog__title {
  background-color: #eb74b2;
  color: #fff;
  margin: -10px -20px;
  padding: 12px;
  text-align: center;
  font-size: 20px;
}

.js-btn__close {
  cursor: pointer;
  font-family: 'Glyphicons Halflings';
}

.js-btn__close a {
  position: absolute;
  top: 0px;
  right: 8px;
  font-size: 30px;
}

.js-btn__close a:hover {
  text-decoration: none;
}

.js-btn__close a::after {
  content: "\e014";
  display: block;
  color: #fff;
}

.js-dialog__inner {
  margin: 40px auto 24px;
}

.js-dialog__inner .di-btn__defa {
  background-color: #EC2967;
  border-color: #EC2967;
}

.js-dialog__close {
  height: 42px;
}

.di-btn {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  border: 0;
  border-radius: 5px;
  color: #fff;
}

.di-btn__space {
  margin: 12px auto;
}

.di-btn.di-btn__edit {
  background-color: #70CEDC;
}

.di-btn.di-btn__del {
  background-color: #A6A6A6;
}

.di-btn.di-btn__defa {
  background-color: #FC77B4;
}

.di-btn__side {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.di-btn__side::after {
  content: "";
  clear: both;
  display: block;
}

.di-btn__side a {
  margin-right: 2%;
}

.di-btn__side a:last-child {
  margin-right: 0;
}

.di-btn__side a.di-btn {
  padding: 10px 2px;
}

.di-btn__defa:hover,
.di-btn__defa:focus {
  text-decoration: none;
  color: #fff;
}

.di-bn__body {
  padding-top: 6px;
}

.di-head {
  border-bottom: 2px solid #ed98bc;
}

.di-head .di-day__info {
  display: flex;
  padding: 0px 12px 6px;
  font-size: 16px;
  text-align: center;
  color: #ed98bc;
}

.di-head .di-day__info .di-day__date {
  flex: 1;
  line-height: 40px;
  text-align: right;
}

.di-head .di-day__info ul {
  flex: 1;
  padding-left: 4%;
  text-align: center;
}

.di-head .di-day__info ul li {
  float: left;
  display: block;
  color: #fff;
  padding: 6px 4px;
  position: relative;
  margin-left: 6px;
}

.di-head .di-day__info ul li .di-day__img {
  height: 30px;
  width: 30px;
}

.di-head .di-day__info ul li img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: inline;
}

.di-head .di-day__info ul li::after {
  content: "/";
  color: #ee97cc;
  position: absolute;
  top: 11px;
  left: 36px;
}

.di-head .di-day__info ul li:first-child .di-day__img {
  height: 28px;
}

.di-head .di-day__info ul li:nth-child(2)::after {
  left: 40px;
}

.di-head .di-day__info ul li:last-child::after {
  content: none;
}

.di-day__climate img {
  width: 30px;
}

.di-display__area {
  margin: auto;
  margin-top: 18px;
  padding: 0 12px;
  max-width: 480px;
}

.di-display__heart {
  position: relative;
  background-color: #FC77B4;
  border-radius: 5px 0 0 0;
  padding: 6px;
  padding-bottom: 1px;
  text-align: center;
  width: 75%;
  float: left;
}

.di-display__heart li {
  display: inline-block;
}

.di-display__heart li > span {
  display: inline-block;
  margin: 0 4px;
  width: 30px;
  height: auto;
  text-shadow: 0px 1px 0 #fff, 0px -1px 0 #fff, 1px 0px 0 #fff, -1px 0px 0 #FFF;
  text-decoration: none;
  text-align: center;
  font-size: 24px;
}

.di-display__heart li > span::before {
  content: "\e005";
  font-family: 'Glyphicons Halflings';
  font-size: 20px;
  color: #eb74b2;
  transition: 250ms;
}

.di-display__heart li > span.on:before {
  content: "\e005";
  color: #fff;
}

.di-display__category {
  float: left;
  border: 3px solid #eb74b2;
  border-left: 0;
  border-bottom: 0;
  border-radius: 0 5px 0 0;
  font-size: 16px;
  text-align: center;
  color: #eb74b2;
  width: 25%;
  height: 41px;
  line-height: 41px;
}

.di-display__title {
  border: 3px solid #eb74b2;
  font-size: 18px;
  margin: 0;
  padding: 6px;
}

.di-display__text {
  border: 3px solid #eb74b2;
  border-top: 0;
  border-radius: 0 0 5px 5px;
  min-height: 200px;
  height: auto;
}

.di-display__text p {
  word-wrap: break-word;
  padding: 12px 6px;
  text-align: justify;
  font-size: 16px;
}

.di-display__picture {
  margin: 12px auto;
  text-align: center;
}

.di-display__picture img {
  max-width: 100%;
}

.di-elem__hidden {
  visibility: hidden;
}

.di-edit__head {
  margin: 0 -12px;
}

.di-edit__head .current {
  max-width: 320px;
  margin: 9px auto;
  font-size: 11px;
  text-align: center;
  line-height: 35px;
  border-radius: 6px;
  background-color: #F398BC;
  color: #FFF;
}

.di-edit__head .date {
  vertical-align: bottom;
  font-size: 13px;
  display: inline;
  margin-left: .5em;
  font-weight: normal;
}

.di-upload__picture {
  margin: 24px auto;
  text-align: center;
}

.di-upload__picture img {
  width: 100%;
}
