.di-body {
  margin: 0 -12px;
  border-top: 2px solid #ee98bc;
  // padding-top: 12px;

  a {
    text-decoration: none;
    &:hover,
    &:focus {
      color: #fff;
    }
  }
}

.di-list__main{
  a {
    text-decoration: none;
    &:hover,
    &:focus {
      color: #fff;
    }
  }
}

.m-diary main {
  background: #fff;
}


@import "list/main";
@import "form/main";
@import "js/main";
@import "button/main";
@import "bn/main";
@import "edit/main";
