.di-list__title {
  display: flex;
  height: 36px;
  justify-content: center;
  align-items: center;
  background-color: #ea6eac;
  color: #fff;
}

.di-list__back {
  display: flex;
  height: 28px;
  justify-content: center;
  align-items: center;
  background-color: #999999;
  color: #fff;
  margin: 10px 60px;
}
