ul.di-list__category {
    display: flex;
    justify-content: center;
    li.di-list__sharp a {
        padding: 4px 13px;
        margin: 0px 2px;
        background-color: #ea6eac;
        color: #fff;
        font-size: 13px;
    }
}

hr.diarylist {
    border-top: 3px solid #ff5e9f;
    margin: 12px 0;
}

ul.di-list__ListMain {
  margin-left: 4px;
  margin-right: 4px;
}

.di-list__LiBox {
  position: relative;
}

li.di-list__date {
    margin-bottom: 4px;
}

a.di-list__link {
    display: flex;
    position: relative;
    padding: 0 4px;
}

a.di-list__link::after {
    content: "";
    position: absolute;
    right: 4px;
    top: 50%;
    display: block;
    width: 12px;
    height: 12px;
    margin-top: -4px;
    border-top: solid 2px #555;
    border-right: solid 2px #555;
    -webkit-transform: rotate(45deg);
}

.di-list__LiText {
    flex: 1;
    padding-right: 8px;
    max-width: 480px;
}

.di-list__days {
    background-color: #ea6eac;
    color: #fff;
    padding: 4px 6px;
    border-radius: 3px;
    display: inline-block;
}

.di-list__DiTitle {
    color: #ea6eac;
    display: inline-block;
    padding: 0 8px;
}

.di-list__caption {
    color: #ada19d;
    font-size: 12px;
    padding: 4px 0;
    display: inline-block;
}

.di-list__LiPhoto {
    width: 80px;
    height: 80px;
    margin-right: 12px;
}

img.di-list__photo {
    width: 100%;
}

.di-list__btn {
    display: flex;
    justify-content: center;
    .di-btn {
      margin: 0 2px;
    }
}

.di-btn__edit {
    width: 16%;
}

a.di-list__edit {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    background-color: #6ecddd;
    color: #fff;
}

.di-btn__del {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16%;
    height: 36px;
    background-color: #ada19d;
    color: #fff;
}
