@import "list/header";
@import "list/ListBody";
@import "list/footer";

section.di-list__main {
    background-color: #fff;
    margin: 0 -12px;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
