.di-list__title {
  // display: flex;
  // height: 36px;
  // justify-content: center;
  // align-items: center;
  // background-color: #ea6eac;
  // color: #fff;

//佐々木
  font-size: 18px;
  /* display: flex; */
  text-align: center;
  height: 36px;
  /* justify-content: center; */
  /* align-items: center; */
  line-height: 36px;
  background-color: #ea6eac;
  color: #fff;
//佐々木ここまで
}

.di-list__back {
  // display: flex;
  // height: 28px;
  // justify-content: center;
  // align-items: center;
  // background-color: #999999;
  // color: #fff;
  // margin: 10px 60px;

//佐々木
  /* display: flex; */
  // height: 28px;
  /* justify-content: center; */
  /* align-items: center; */
  /* background-color: #999999; */
  color: #fff;
  margin: 14px 60px 20px;

  .di-btn.di-btn__del {
    font-size: 14px;
    background-color: #999;
  }
//佐々木ここまで
}





ul.di-list__category {
    display: flex;
    justify-content: center;
    li.di-list__sharp a {
      display: block;
      padding: 4px 10px;
      margin: 0px 2px;
      background-color: #ea6eac;
      color: #fff;
      font-size: 13px;
      border-radius: 3px;

      &.active {
        background-color: #FD2C78;
      }
    }
}

hr.diarylist {
    border-top: 3px solid #ff5e9f;
    margin: 12px 0;
}

ul.di-list__ListMain {
  margin-left: 4px;
  margin-right: 4px;
}

.di-list__LiBox {
  position: relative;
}

li.di-list__date {
    margin-bottom: 4px;
    border-bottom:  1px solid #ddd;
    padding-bottom:  4px;
}


a.di-list__link {
    display: flex;
    position: relative;
    padding: 4px;
}

a.di-list__link::after {
    content: "";
    position: absolute;
    right: 4px;
    top: 50%;
    display: block;
    width: 12px;
    height: 12px;
    margin-top: -4px;
    border-top: solid 2px #555;
    border-right: solid 2px #555;
    -webkit-transform: rotate(45deg);
}

.di-list__LiText {
    flex: 1;
    padding-right: 8px;
}

@media screen and (min-width:480px) {
  .di-list__LiText {max-width:480px;}
}

.di-list__days {
    background-color: #ea6eac;
    color: #fff;
    padding: 4px 6px;
    border-radius: 3px;
    display: inline-block;
}

.di-list__DiTitle {
    color: #ea6eac;
    display: inline-block;
    padding: 0 8px;
}

.di-list__caption {
    color: #ada19d;
    font-size: 12px;
    padding: 4px 0;
    display: block;
}

.di-list__LiPhoto {
    width: 80px;
    height: 80px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 12px;
}

img.di-list__photo {
    width: 100%;
}

.di-list__btn {
    display: flex;
    justify-content: center;
    .di-btn {
      margin: 0 2px;
    }
}

.di-btn__edit {
    width: 16%;
}

a.di-list__edit {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    background-color: #6ecddd;
    color: #fff;
}

.di-btn__del {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16%;
    height: 36px;
    background-color: #ada19d;
    color: #fff;
}


//////////////////////////////

ul {
    overflow: hidden;
    position:relative;

    li.di-list__date {
        width: 100%;
        background:#fff;
        overflow: hidden;
        z-index:2;
        position: relative;
    }
}



.di-list__btn{
  position:absolute;
  top:25%;
  right:0;
  z-index:1;
}

.edit,.edit2 {
    position: absolute;
    top: 20%;
    right: 12px;
    width: 40px;
    font-size: 30px;
}


.di-list__btn {
    width: 45%;
}


.di-list__btn.di-btn__side a,
.di-btn__side .js-dialog__open {
    width: 48%;
    margin-right: 1%;
    margin-left: 1%;
    float: left;
}

.di-list__ListBody{
  margin-top:12px;
}

.di-list__DiTitle {
    padding: 8px;
}
