//月齢・天気・気温
ul.di-input__side{

  li {
    float:  left;
    display: block;
    width: 28%;
    margin: 0px 2%;
    text-align: center;

    &:first-child {
      margin-left: 4%;

      legend {
        font-weight:bold;
        line-height: 33px;
      }//li:first-child legend
    }//li:first-child
  }//ul.di-input__side li

  .di-input__label{
    font-size: 18px;
    color: #eb74b2;
  }

  legend {
    margin-bottom:  0;
  }

}//ul.di-input__side


.di-input__select {
  text-align: center;
  background: #F298BB;
  color: #fff;
  border: 0;
  border-radius:5px;
  padding: 6px 4px;
  width: 100%;
  height: 40px;
  font-size: 16px;
  cursor: pointer;
}

#moonphase{
  span{
    display: block;
    width: 30px;
    margin: auto;
    position: relative;
    top: 1px;

    img{
      height: 25px;
      top: 5px;
    }
  }
}



ul.di-input__side li{

  &:not(:first-child) {
    select {
      padding-left: 15%;
      -webkit-appearance: none;
      -moz-appearance:none;
      appearance:none;
    }//li:not(:first-child) select
  }
  &:nth-child(2) label::after,
  &:last-child label::after {
    content:"\e072";
    display: block;
    color: #fff;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
    position: absolute;
    bottom: 12px;
    right: 6%;
    font-size: 12px;
  }

  &:nth-child(2) label::after{
    right: 38.5%;
  }

  &:not(:first-child) label {
    font-family: 'Glyphicons Halflings';
    margin-bottom:7px;
  }
}
