//ハート入力フォーム

.di-input__heart{
  position: relative;
  background-color: #FC77B4;
  border-radius: 5px 5px 0 0;
  padding:  6px;
  padding-bottom: 1px;
  text-align: center;
  width: 75%;
  float: left;
  cursor: pointer;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;


  input {
    display: none;
  }//.di-input__heart input

  label{
    margin: 0 4px;
    cursor: pointer;

    &::after {
      content: "\e005";
      font-family: 'Glyphicons Halflings';
      font-size: 24px;
      color: #eb74b2;;
      transition: 250ms;
      display: inline-block;
      margin: 0 2px;
      width: 30px;
      height: auto;
      text-shadow: 0px 1px 0 #fff, 0px -1px 0 #fff, 1px 0px 0 #fff, -1px 0px 0 #FFF;
      text-decoration: none;
      text-align: center;
      transition: 250ms;
    }//label::after
  }//.di-input__heart label


  // > span {
  //   display: inline-block;
  //   margin: 0 4px;
  //   width: 30px;
  //   height: auto;
  //   text-shadow: 0px 1px 0 #fff, 0px -1px 0 #fff, 1px 0px 0 #fff, -1px 0px 0 #FFF;
  //   text-decoration:none;
  //   text-align: center;
  //
  //   &:before {
  //     content: "\e005";
  //     font-family: 'Glyphicons Halflings';
  //     font-size: 20px;
  //     color: #FC77B4;
  //     transition:250ms;
  //   }//span:before
  //
  //   &.on:before {
  //     content: "\e005";
  //     color: #fff;
  //   }//span.on:before
  //
  // }//.di-input__heart a

}


.di-input__heart label:hover::after,
.di-input__heart label:hover ~ label::after,
.di-input__heart input[type='radio']:checked ~ label::after {
  content: "\e005";
  color: #fff;
  transition: 250ms;
}
