.di-btn{
  display: block;
  width: 100%;
  text-align: center;
  font-size:  16px;
  padding: 10px;
  border:  0;
  border-radius: 5px;
  color: #fff;

  &__space {
    margin:  12px auto;
  }
  &.di-btn__edit {
    background-color: #70CEDC;
  }

  &.di-btn__del {
    background-color: #A6A6A6;
  }

  &.di-btn__defa {
    background-color: #FC77B4;
  }

  //ボタン横並び
  &__side{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    &::after {
      content: "";
      clear: both;
      display: block;
    }

    a{
      // width: 49%;
      margin-right:2%;
      // float: left;

      &:last-child{
        margin-right:0;
      }//a:last-child

      &.di-btn{
        padding: 10px 2px;
      }
    }
  }

}

.di-btn__defa:hover,
.di-btn__defa:focus {
    text-decoration:  none;
    color: #fff;
}
