.di-bn__body{
  padding-top: 6px;
}

.di-head {
  border-bottom: 2px solid #ed98bc;

  .di-day__info {
    display: flex;
    padding: 0px 12px 6px;
    font-size: 16px;
    text-align: center;
    color: #ed98bc;

    .di-day__date {
      flex: 1;
      line-height: 40px;
      text-align: right;
    }

    ul {
      flex:  1;
      padding-left: 4%;
      text-align: center;

      li {
        float: left;
        display: block;
        color: #fff;
        padding: 6px 4px;
        position: relative;
        margin-left: 6px;

        .di-day__img {
          height: 30px;
          width: 30px;
        }//li .di-day__img

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          display: inline;
        }//ul li img

        &::after {
          content: "/";
          color: #ee97cc;
          position: absolute;
          top: 11px;
          left: 36px;
        }//li::after

        &:first-child .di-day__img {
          height: 28px;
        }//li:first-child::after

        &:nth-child(2)::after {
          left: 40px;
        }//li:nth-child(2)::after

        &:last-child::after {
          content: none;
        }//li:last-child::after
      }//li
    }//.di-head .di-day__info ul
  }//.di-head .di-day__info
}//.di-head

.di-day__climate img {
  width: 30px;
}

.di-display__area {
  margin: auto;
  margin-top:  18px;
  padding: 0 12px;
  max-width:  480px;
}//.di-display__area


.di-display__heart{
  position: relative;
  background-color: #FC77B4;
  border-radius: 5px 0 0 0;
  padding: 6px;
  padding-bottom: 1px;
  text-align: center;
  width: 75%;
  float: left;

  li {
    display: inline-block;

    > span {
      display: inline-block;
      margin: 0 4px;
      width: 30px;
      height: auto;
      text-shadow: 0px 1px 0 #fff, 0px -1px 0 #fff, 1px 0px 0 #fff, -1px 0px 0 #FFF;
      text-decoration: none;
      text-align: center;
      font-size: 24px;

      &::before {
        content: "\e005";
        font-family: 'Glyphicons Halflings';
        font-size: 20px;
        color: #eb74b2;
        transition: 250ms;
      }//span::before

      &.on:before {
        content: "\e005";
        color: #fff;
      }//span.on::before
    }//li > span
  }//.di-display__heart li

}//.di-display__heart




.di-display__category {
  float: left;
  border: 3px solid #eb74b2;
  border-left:  0;
  border-bottom:  0;
  border-radius: 0 5px 0 0;
  font-size: 16px;
  text-align: center;
  color: #eb74b2;
  width: 25%;
  height: 41px;
  line-height: 41px;
}

.di-display__title {
  border:  3px solid #eb74b2;
  font-size: 18px;
  margin:  0;
  padding: 6px;
}

.di-display__text {
  border:  3px solid #eb74b2;
  border-top:  0;
  border-radius: 0 0 5px 5px;
  // padding: 12px 6px;
  min-height:  200px;
  height: auto;

  p {
    word-wrap: break-word;
    padding: 12px 6px;
    text-align: justify;
    font-size: 16px;
  }
}

.di-display__picture {
  margin: 12px auto;
  text-align: center;
}

.di-display__picture img {
  max-width: 100%;
}


.di-elem__hidden{
  visibility:hidden;
}
